# ignore data
data/CIKM22Competition/
data/splitFold/
data/splitFold2/
cikm22/exp/

# ignore __pycache__
__pycache__/

# ignore runs_logs
runs_logs/

# ignore *.log
*.log

# ignore .ipynb_checkpoints
.ipynb_checkpoints/